@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    --base: rgb(26, 26, 26);
    --base-100: rgb(31, 31, 31);
    --base-200: rgb(33, 33, 33);
    --base-300: rgb(80, 80, 80);
    --base-400: rgb(110, 110, 110);
    --base-500: rgb(186, 186, 186);
    --base-600: rgb(226, 226, 226);
    --base-700: rgb(236, 236, 236);

    --highlight: #c0c0c0;

    --accent-red:#FF6861;
    --accent-green:#63f076ef;
  }
}

@layer utilities {
      /* Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* IE, Edge and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    }

body {
  color: var(--highlight);
  font-family: Arial, Helvetica, sans-serif;
}