@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --base: #1A1A1A;
    --base-100: #1F1F1F;
    --highlight: #c0c0c0;
  }
}

body {
  color: var(--highlight);
  font-family: Arial, Helvetica, sans-serif;
}